
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Poppins:ital,wght@0,100;0,200;0,400;0,600;0,700;1,100;1,200;1,400;1,500&display=swap');

html, body {
  font-family:'Lato', sans-serif, monospace;
  height: 100%;
  text-decoration: none;
 }


/*CSS*/

/** Sidebar*****/

 /**logo****/
 
 .navbar .navbar-brand i {
  font-size: 20px;
  background-color: #c0f3ef;
  padding: 5px;
  border-radius: 50%;
  color: #000000;
  border: solid 1px #343a40;
  margin-right: 2px;
 }
  /**logo****/


 .bi {
  display: inline-block;
  width: 1rem;
  height: 1rem;
} 

.offcanvas-body .nav {
  background-color: black;
  border-radius: 10px;
}
@media (min-width: 768px) {

}


.sidebar .nav-link.active {
  color: #ffffff;
  background-color: rgb(47, 94, 94);
  padding: 1rem;
  border-radius: 10px;
}

.nav .nav-item2:hover {
  background-color: rgb(223, 224, 159);
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
}

.nav .nav-item2 a:hover{
  color: #ff0000;
}

.sidebar .nav-link {
  color: #ffffff;
  background-color: transparent;
  padding: 1rem;

}

.sidebar-heading {
  font-size: .75rem;
}

/****** Navbar******/

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: #4c8a99;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  border-radius: 0 0 10px 0 ;
}

.navbar .form-control {
  padding: .75rem 1rem;
}


/*Main*/

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

/*****User Site*****/
.avatar-xxl {
  height: 7rem;
  width: 7rem;
}

.card {
  margin-bottom: 20px;
  -webkit-box-shadow: 0 2px 3px #a0abbd;
  box-shadow: 0 2px 3px #eaedf2;
  margin-top: 5px;
}

.pb-0 {
  padding-bottom: 0!important;
}

.font-size-16 {
  font-size: 16px!important;
}
.avatar-title {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #038edc;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}

.bg-soft-primary {
  background-color: rgba(3,142,220,.15)!important;
}
.rounded-circle {
  border-radius: 50%!important;
} 

.avatar-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 12px;
}

.border-end {
  border-right: 1px solid #eff0f2 !important;
}

.d-inline-block {
  display: inline-block!important;
}

.badge-soft-danger {
  color: #f34e4e;
  background-color: rgba(243,78,78,.1);
}

.badge-soft-warning {
  color: #f7cc53;
  background-color: rgba(247,204,83,.1);
}

.badge-soft-success {
  color: #51d28c;
  background-color: rgba(81,210,140,.1);
}

.avatar-group .avatar-group-item {
  margin-left: -14px;
  border: 2px solid #fff;
  border-radius: 50%;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.avatar-sm {
  height: 2rem;
  width: 2rem;
}

.nav-tabs-custom .nav-item {
  position: relative;
  color: #343a40;
}

.nav-tabs-custom .nav-item .nav-link.active:after {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.nav-tabs-custom .nav-item .nav-link::after {
  content: "";
  background: #038edc;
  height: 2px;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -2px;
  -webkit-transition: all 250ms ease 0s;
  transition: all 250ms ease 0s;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.badge-soft-secondary {
  color: #74788d;
  background-color: rgba(116,120,141,.1);
}

.badge-soft-secondary {
  color: #74788d;
}

.card .card-body .d-flex:hover {
  transform: translateY(-5px);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

/*******SignIn******/
form {
  text-align: center;
  background: rgb(51,201,147);
  background: linear-gradient(90deg, rgba(51,201,147,0.20772058823529416) 19%, rgba(44,185,202,0.5186449579831933) 36%, rgba(220,224,224,0.5522584033613445) 79%, rgba(255,255,255,0.46262254901960786) 92%);
  border-radius: 10px;
  padding: 1rem;
  border: solid 1px rgb(63, 62, 62);

}

      /*****Logo******/
form span {
  font-size: 30px;
  font-family:'Lato', sans-serif;
  font-weight: bolder;

}

form a {
  text-decoration: none;
}

form span.s1 {
  color: #367272;
}

form span.s2 {
  color: #424547;
}

        /*****Logo******/

form i {
  font-size: 30px;
  padding: 5px;
  border-radius: 50%;
  color: #000000;
  border: solid 1px #343a40;
  margin-right: 2px;
  margin-top: 5px;
}
.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


/***Registration*****/

.form-body {
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  color: #000000;
    
}


.form-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;

  
}

.form-holder .form-content {
position: relative;
text-align: center;
display: -webkit-box;
display: -moz-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-justify-content: center;
justify-content: center;
-webkit-align-items: center;
align-items: center;
padding: 60px;
}

.form-content .form-items {
border: 3px solid #fff;
padding: 40px;
display: inline-block;
width: 100%;
min-width: 450px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
text-align: left;
-webkit-transition: all 0.4s ease;
transition: all 0.4s ease;
}

.form-content h3 {
color: #000000;
text-align: left;
font-size: 28px;
font-weight: 600;
margin-bottom: 5px;
text-align: center;
}

.form-content h3.form-title {
margin-bottom: 30px;
}

.form-content p {
color: #000000;
text-align: left;
font-size: 17px;
font-weight: 300;
line-height: 20px;
margin-bottom: 30px;
text-align: center;
}


.form-content label, .was-validated .form-check-input:invalid~.form-check-label, .was-validated .form-check-input:valid~.form-check-label{
color: #000000;
}

.form-content input[type=text], .form-content input[type=password], .form-content input[type=email], .form-content select {
width: 100%;
padding: 9px 20px;
text-align: left;
border: 0;
outline: 0;
border-radius: 6px;
background-color: rgb(245, 239, 239);
border: solid 1px black;
font-size: 15px;
font-weight: 600;
margin-top: 16px;
}


.btn-primary{
background-color: #000000;
outline: none;
border: 0px;
 box-shadow: none;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
background-color: #000000;
outline: none !important;
border: none !important;
 box-shadow: none;
}

.form-content textarea {
position: static !important;
width: 100%;
padding: 8px 20px;
border-radius: 6px;
text-align: left;
background-color: #fff;
border: 0;
font-size: 15px;
font-weight: 300;
color: #000000;
outline: none;
resize: none;
height: 120px;
-webkit-transition: none;
transition: none;
margin-bottom: 14px;
}

.form-content textarea:hover, .form-content textarea:focus {
border: 0;
background-color: #ebeff8;
color: #8D8D8D;
}

.mv-up{
margin-top: -9px !important;
margin-bottom: 8px !important;
}

.invalid-feedback{
color: #ff606e;
}

.valid-feedback{
color: #2acc80;
}


/*****User****/

  
  .avatar-xxl {
      height: 7rem;
      width: 7rem;
  }
  
  .card {
      margin-bottom: 20px;
      -webkit-box-shadow: 0 2px 3px #a0abbd;
      box-shadow: 0 2px 3px #eaedf2;
      margin-top: 5px;
  }
  
  .pb-0 {
      padding-bottom: 0!important;
  }
  
  .font-size-16 {
      font-size: 16px!important;
  }
  .avatar-title {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      background-color: #038edc;
      color: #fff;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      font-weight: 500;
      height: 100%;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 100%;
  }
  
  .bg-soft-primary {
      background-color: rgba(3,142,220,.15)!important;
  }
  .rounded-circle {
      border-radius: 50%!important;
  } 
  
  .avatar-group {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding-left: 12px;
  }
  
  .border-end {
      border-right: 1px solid #eff0f2 !important;
  }
  
  .d-inline-block {
      display: inline-block!important;
  }
  
  .badge-soft-danger {
      color: #f34e4e;
      background-color: rgba(243,78,78,.1);
  }
  
  .badge-soft-warning {
      color: #f7cc53;
      background-color: rgba(247,204,83,.1);
  }
  
  .badge-soft-success {
      color: #51d28c;
      background-color: rgba(81,210,140,.1);
  }
  
  .avatar-group .avatar-group-item {
      margin-left: -14px;
      border: 2px solid #fff;
      border-radius: 50%;
      -webkit-transition: all .2s;
      transition: all .2s;
  }
  
  .avatar-sm {
      height: 2rem;
      width: 2rem;
  }
  
  .nav-tabs-custom .nav-item {
      position: relative;
      color: #343a40;
  }
  
  .nav-tabs-custom .nav-item .nav-link.active:after {
      -webkit-transform: scale(1);
      transform: scale(1);
  }
  
  .nav-tabs-custom .nav-item .nav-link::after {
      content: "";
      background: #038edc;
      height: 2px;
      position: absolute;
      width: 100%;
      left: 0;
      bottom: -2px;
      -webkit-transition: all 250ms ease 0s;
      transition: all 250ms ease 0s;
      -webkit-transform: scale(0);
      transform: scale(0);
  }
  
  .badge-soft-secondary {
      color: #74788d;
      background-color: rgba(116,120,141,.1);
  }
  
  .badge-soft-secondary {
      color: #74788d;
  }

  /*reports*/

  .feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: .75rem;
  }
  
  .icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: .75rem;
  }
  
  .text-shadow-1 { text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25); }
  .text-shadow-2 { text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25); }
  .text-shadow-3 { text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25); }
  
  .card-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  
  .feature-icon-small {
    width: 3rem;
    height: 3rem;
  }

  .container2 {
    height: 100vh;
  }

  .container2 .feature {
    padding: 1rem;
    border: solid #505050 1px;
    border-radius: 10px;
    margin-left: 20px;
    gap: 1rem;

  }